svg .axis text {
    font: 10px sans-serif;
}

.axis line,
.axis circle {
    fill: none;
    stroke: #777;
    stroke-dasharray: 1, 4;
}

.axis.sog-10 circle {
    stroke: #333 !important;
    stroke-dasharray: none !important;
}

.axis.sog-12 circle,
.axis.sog-14 circle,
.axis.sog-16 circle {
    stroke: #aaa;
}

.line {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

.legend rect {
    fill: #fff;
    stroke: #000;
    opacity: 0.8;
}

.highlight {
    stroke: #000;
    fill: #fff;
}

.tws-6 {
    stroke: #1f77b4;
}

.tws-8 {
    stroke: #ff7f0e;
}

.tws-10 {
    stroke: #2ca02c;
}

.tws-12 {
    stroke: #d62728;
}

.tws-14 {
    stroke: #9467bd;
}

.tws-16 {
    stroke: #17becf;
}

.tws-20 {
    stroke: #e377c2;
}

.polar-table td:hover {
    background-color: #eee;
}

.vmg-run,
.vmg-beat {
    fill: #fff;
}

.meta span.meta-label {
    font-weight: 200;
    font-size: 14px;
    color: #aaa;
    padding: 0;
    display: inline-block;
    min-width: 100px;
}

.meta table {
    display: inline-block;
}

.meta table.meta-table td {
    padding-right: 10px;
    min-width: 100px;
}

.meta table .meta-label {
    color: #888;
}

input {
    margin-bottom: 2px;
}

.meta-item h2 {
    margin-top: 2px;
}

.meta-label.polar {
    display: block !important;
}

.meta-item textarea {
    width: 100%;
    height: 150px;
    max-width: 500px;
    font-family: monospace;
    font-size: 10px;
}

textarea {
    width: 100%;
    height: 160px;
    font-family: monospace;
    font-size: 10px;
}

textarea.plot-only {
    height: 600px;
}

textarea.extended {
    height: 380px;
}

.polar-table {
    font-size: 12px;
    max-width: 500px;
}

.polar-table tr th {
    white-space: nowrap;
}

.polar-table tr td:first-child {
    text-align: right;
}

.sailnumber {
    color: #888;
}

.dropdown {
    background-color: white;
}

.dropdown a {
    display: block;
    padding: 2px 4px;
    background-color: white;
}

.type {
    color: #aaa;
    size: 10px;
}

#main-nav {
    margin-bottom: 5px;
}

.sidebar-toggle {
    margin-top: 25px;
}

textarea {
    max-width: 500px;
}

#main {
    overflow-y: auto;
    height: 100%;
    padding-top: 5px;
}

label {
    font-weight: normal;
}