svg text {
    font: 10px sans-serif;
}

.axis line,	.axis circle {
    fill: none;
    stroke: #777;
    stroke-dasharray: 1,4;
}

.axis :last-of-type circle {
    stroke: #333;
    stroke-dasharray: none;
}

.line {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}
